{% extends 'app/layout.html' %}

{% block title %} MyCare Plan {% endblock %}

{% block content %}
<!-- <ul class="list-group">
    <li class="list-group-item active">Activity</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Walking + Running Distance
        <span class="badge badge-primary badge-pill">0.18 mi</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Steps
        <span class="badge badge-primary badge-pill">429 steps</span>
    </li>
</ul> -->
{% endblock %}