{% extends 'app/layout.html' %}

{% block title %} Sources {% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item active">APPS</li>
    <li class="list-group-item">Clock</li>
    <li class="list-group-item">Rally Health</li>
    <li class="list-group-item" style="background:lightgrey">As apps request permission to add data, <br>they will be added to the list.</li>
    <li class="list-group-item" style="background:lightgrey">Devices</li>
    <li class="list-group-item"><i class="fa-square"></i>Ephrahim</li>
</ul>
{% endblock %}